// MEDIA-QUERIES



@media screen and (min-width: 2000px) {
    .bienvenidos{
        height: 90vh;
        margin-bottom: 25px;
    }

    .año{
        height: 90vh;
        margin-bottom: 25px;
    }

    .año__texto h2{
        font-size: 30px;
    }

    .conteiner_contacto{
        margin-top: 250px;
               
     }

     .form{
        height: 850px;
        padding: 20px;
        margin: 130px 0;
     }

     .form .form_input{
        padding: 10px;
        margin-bottom: 10px;
        font-size: 14px;  
    }

    .horarios{
        margin-top: 130px;
    }

}





@media screen and (max-width: 1440px) {
    .bienvenidos{
        height: 100vh;
        margin-bottom: 25px;
    }

    .año{
        height: 100vh;
        margin-bottom: 25px;
    }

    .año__texto h2{
        font-size: 30px;
    }

    .conteiner_contacto{
        margin-top: 250px;
               
     }

     .form{
        height: 850px;
        padding: 20px;
        margin: 130px 0;
     }

     .form .form_input{
        padding: 10px;
        margin-bottom: 10px;
        font-size: 14px;  
    }

    .horarios{
        margin-top: 130px;
    }

}



@media screen and (max-width: 1024px) {
    
    .bienvenidos{
        margin-bottom: 50px;
    }

    .año{
        margin-bottom: 50px;
    }
    
   
    .año__img{
       margin-top: 25px;
       padding: 10px;
       
    }
    
    
    .año__texto{
       padding: 35px; 
    }
    
    .año__texto h2{
        margin-bottom: 25px;
    }

    .año__texto p{
        margin-bottom: 20px;
    }


    .button__index{
        margin-top: 50px;
    }


    .conteiner_contacto{
        margin-top: 350px;
    }


    .form{
        padding: 20px;
        width: 450px;
        margin: 100px auto;
        height: 850px;
    }

    


}


@media screen and (max-width: 768px) {
 
    .header{
        flex-direction: column;
        padding: 20px;   
    }

    .header__nav{
        padding-right: 0px;
    }

    .hero__index{
        height: 85vh; 
    }

    .contenedor__anchor{
        justify-content: start;
        margin-left: 30px;
    }

    .bienvenidos{
        height: 90vh;
    }

    .bienvenidos__img{
        margin: auto;
        margin-top: 30px;
        padding: 10px; 
        width: 350px;
        height: 400px;
    }

    .bienvenidos__texto p{
        margin-bottom: 25px;
        font-size: 16px;
    }

    .año{
        height: 90vh;
    }
    
   
    .año__img{
       margin: auto;
       padding: 10px;
       width: 350px;
       height: 400px;
    }
    
    
    .año__texto{
       padding: 35px; 
    }
    
    .año__texto h2{
        margin-bottom: 25px;
    }

    .año__texto p{
        margin-bottom: 20px;
    }

    .button__index{
        margin-top: 70px;
    }

    .info_contacto h3{
        font-size: 25px;
    }

    .info_contacto p{
        font-size: 15px;
    }

    .conteiner_contacto{
        margin-top: 350px;
        margin-bottom: 150px;
    }

    .display__form-horarios .form{
        height: 800px;
    }

    .form{
        padding: 20px;
        width: 370px;
        margin: 100px auto;
          
    }
    
    .form h3{
        font-size: 21px;
        margin-bottom: 18px;  
    }
    
    .form .form_input{
        padding: 7px;
        margin-bottom: 15px;
        font-size: 13px;  
    }
    
    .horarios{
        margin-top: 130px;
    }
}


@media screen and (max-width: 425px) {

    .header{
        flex-direction: column;
        padding: 20px;   
    }

    .header__nav{
        padding-right: 0px;
    }

    .header__nav ul{
        display: flex;
        flex-direction: column;
    }

    .header__nav ul li{
        margin-bottom: 7px;
    }

    .nav__anchor{
        padding-right: 0px;
    }

    .contenedor__anchor{
        justify-content: start;
        margin-left: 30px;
    }
    

    .hero__index{
        height: 55vh; 
    }

    .hero__index h1{
        font-size: 40px;
        margin-bottom: 25px;
     }

    .hero__index h4{
        font-size: 20px;
        font-weight: 200;
    }
    

    .bienvenidos{
        margin-bottom: 400px;
    }

    .bienvenidos .conteiner{
        flex-direction: column;
    }
    
    .bienvenidos__img{
        margin: auto;
        padding: 10px;
        width: 300px; 
        height: 350px;
        margin-top: 15px;
        
        
    }

    .bienvenidos__texto{
        width: 100%;
        padding: 10px;
    }
    
    h2 .restorando{
        font-size: 35px;
    }
 
    .año{
        margin-bottom: 350px;
    }
    
    .año .conteiner{
        flex-direction: column;   
    }
    
    .año__img{
        margin: auto;
        padding: 10px;
        width: 300px; 
        height: 350px;
        margin-top: 15px;
        
    }
    
    
    .año__texto{
        width: 100%;   
        padding: 10px;
          
    }
    
    .año__texto h2{
        margin-bottom: 15px;
    }
    

    .button__index button{
        margin: 100px auto;
    }


    .imagenes .conteiner{
        flex-direction: column;
    }

    .somos__texto h2{
        font-size: 25px;
        text-transform: uppercase;
        padding: 15px;
        margin: 15px;
    }

    .imagen1{
        width: 250px;
        height: 250px;
    }
    
    .imagen2{
        width: 250px;
        height: 250px;
    }
    
    .imagen3{
        width: 250px;
        height: 250px;
    }
    
    
    .parrafo p{
        padding: 15px;
        margin: 15px;
    }
    


    .footer__conteiner{
        height: 220px;
        margin-top: 200px;
    }

    .hero_contacto{
        height: 40vh; 
    }

    .hero__contacto h1{
        font-size: 25px;
        margin-bottom: 25px;
        
     }


    .info_contacto .conteiner{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 100vh;
        padding: 18px;
        gap: 50px;
    }


    .contacto h3{
        font-size: 25px;
        margin-bottom: 7px;
    }
    
    .contacto ul li{
        margin: 15px;
        padding: 17px;
        font-size: 17px;
    }
 
    
    .direccion_contacto h3{
        font-size: 25px;
        margin-bottom: 7px;       
    }
    
    .direccion_contacto p{
        font-size: 17px;
        padding: 15px;
        margin: 15px;
    }
    
    
    .button_contacto{
        font-size: 15px;   
    }
    




    .horarios_contacto h3{
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .horarios_contacto p{
        font-size: 17px;
        margin: 10px;
    }
    
    .horarios_contacto ul li{
        list-style: none;  
    }

    .conteiner_contacto{
        margin-top: 450px;
        margin-bottom: 350px;

        
     }
     
     
     .form_contacto{
         padding: 30px;
         width: 300px;
         margin: auto;
         height: 500px;
         margin-top: 350px; 
         
     }
     
     
     .form_contacto h3{
         font-size: 22px;
         margin-bottom: 20px;  
     }
     
     .form_contacto .form_input{
         width: 100%;
         background: rgb(215, 215, 215);
         padding: 20px;
         border-radius: 4px;
         margin-bottom: 20px;
         border: 1.5px solid black;
         font-size: 12px;  
     }
     
     
     .form_contacto .form_button{
         width: 60%;
         background: rgb(215, 215, 215);
         padding: 5px;
         border-radius: 4px;
         margin-bottom: 16px;
         border: 1.5px solid rgb(215, 215, 215);
         box-shadow: 1px 1px 3px rgb(215, 215, 215);  
     }
     
     .form_contacto .form_button:hover{
         border: 1.5px solid #24303c;
         box-shadow: 1px 1px 3px #24303c; 
     }



     .display__form-horarios{
        flex-direction: column;
      }
    
     .display__form-horarios .form{
        height: 750px;
      }

      .form{
          padding: 20px;
          width: 325px;
          margin: 35px auto;
          height: 80vh;  
      }
      
      .form h3{
          font-size: 21px;
          margin-bottom: 18px;  
      }
      
      .form .form_input{
          padding: 7px;
          margin-bottom: 10px;
          font-size: 12px;  
      }
      
      
      .form .form_button{
          padding: 7px;
          margin-bottom: 14px; 
          font-size: 15px; 
      }
      
      
      .form .area p{
          height: 17px;
          font-size: 12px;
          line-height: 15px;
      }
 
      
      .horarios{
          padding-top: 0px;
          margin-top: 25px;
          height: 100vh;
          margin-bottom: 50px;
      }
      
      .horarios h2{
          font-size: 28px;
          margin-bottom: 15px;  
      }
      
      .horarios p{
          font-size: 18px;
          margin-bottom: 5px;
      }
      
      .horarios ul li{
          margin-bottom: 2px;
          padding: 7px;
      }

      .carta-completa .conteiner{
        padding: 7px;
        margin: 0;
      }

      .carta-completa .carta-resto{
        font-size: 20px;
      }

      .carta-completa h2{
        font-size: 17px;
        margin: 0;
        padding: 5px;
      }

      .carta-completa h4{
        margin-left: 0;
        margin-bottom: 5px;
        padding: 7px;
      }

      .carta-completa p{
        margin-left: 0;
        padding: 7px;
      }
      
      
       

}










