// MENÚ

.menu{

    & h2{
        text-align: center;
        padding: 12px 5px;
        color: white;
        height: 10vh;
    }

    p{
        text-align: center;
    }

}

.nuestra_carta{
    padding: 12px 5px;
    text-decoration:overline underline; 
    margin-top: 20px;
    font-size: 25px;
}

.carta{

    & h3{
        color: white;
        text-decoration: underline;
        padding: 2px;
        margin: 10px;
        font-size: 21px;

    }

    & h4{
        margin-left: 10px;
        font-size: 17px;
        font-weight: bold;
    }

    & p{
        margin-left: 10px;
        font-size: 16px;
    }

       
}




.imagenes .conteiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


.imagen1{
    background-image: url(../img/ñoquis.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    margin: $margin-imagen;
    border-radius: 5px;
}

.imagen2{
    background-image: url(../img/carne.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    margin: $margin-imagen;
    border-radius: 5px;
}

.imagen3{
    background-image: url(../img/brownie.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    margin: $margin-imagen;
    border-radius: 5px;
}

.imagen4{
    background-image: url(../img/ensalada.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    margin: $margin-imagen;
    border-radius: 5px;
}

.imagen5{
    background-image: url(../img/pizza.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    margin: $margin-imagen;
    border-radius: 5px;
}

.imagen6{
    background-image: url(../img/ravioles.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    margin: $margin-imagen;
    border-radius: 5px;
}

.imagen7{
    background-image: url(../img/mila.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    margin: $margin-imagen;
    border-radius: 5px;
}

.imagen8{
    background-image: url(../img/tiramisu.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    margin: $margin-imagen;
    border-radius: 5px;
}

.imagen9{
    background-image: url(../img/papas.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    margin: $margin-imagen;
    border-radius: 5px;
}















.menu__button{
    
    display: flex;
    margin: 25px;
    padding: 15px;  
    
}
