*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;   
}

body{
    background-color: $color-principal;
}

body p{
    font-size: 16px;
}

#botonArriba{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    background-color: $color-principal;
    border-radius: 45px;
    border: 1px solid rgba(0,0,0,0.5);
}




